@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.header-container-bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    margin: 0 auto;
    max-width: 0 auto;
    
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    /* padding-top: 50px; */
}
.brand{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
    /* margin-left: 240px; */
    /* line-height: 10px; */
    /* margin-top: 20px;  */
    
}
.nav-item{
    list-style: none;
      
}
.teams{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight:600;
    width: 180px;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;

}

.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 30px;

}

.header-container-bg-light .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight:700;
    margin-bottom: 25px;
}
.banner-description{
    margin-bottom: 32px;
}
.banner img{
    width: 100%;
    margin-bottom: 45px;
    border-radius: 8px;
}

.teams {
    margin-top: 85px;
    align-items: center;
    /* gap: 73px; */
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;

}


.feature-title{
    font-size: 2.8rem;
    font-weight: 700;

}

#Quick-list{
    color: #727272;
    font-weight: 500;
}
.Features{
    color: #FF900E;
}

.our-features .feature-description{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-top: 24px;
}

/* Responsive Media Screen for mobile or small device section */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: row;
        max-width: 390px;
        margin-right: 60px; 
        /* margin: 0 auto; */
        /* text-align: center; */
        /* margin-right: 60px; */
    }
    
    .team-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin: 30px 30px;
        padding: 0 30px;
    }
    
}

/* Responsive Media Screen for tablet or medium device section */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        margin-right: 60px;
        /* font-size: 3rem; */
    }
    .nav-link{
    font-size: 32px;
    }
    
}