@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
*{
    margin: 0;
    padding: 0;
}

.header-container-bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
    
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}


.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    /* max-width: 1440px; */
    /* margin: 0 auto; */
    padding-top: 50px;
}

/* shared-styles */
.brand,
.sponsor-title{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight:600;
    width: 180px;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;

}

.banner-description,
.sponsor-description,
.feature-description{
    font-size: 1rem;
    color: #727272;
}



/* shared-styles */
.nav-item{
    list-style: none;
      
}
.teams{
    max-width: 1440px;
    margin: 0 auto;
}


.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 30px;

}

.header-container-bg-light,
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 102px;
    margin-bottom: 50px;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight:700;
    margin-bottom: 25px;
}
.banner-description{
    margin-bottom: 32px;
}
.banner img{
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
    margin-bottom: 45px;
    border-radius: 8px;
}

.teams {
    margin-top: 85px;
    align-items: center;
    gap: 73px;
    max-width: 1318px;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.our-features{
    margin-right: 301px;
    width: 537px;

}


.feature-title{
    font-size: 2.8rem;
    font-weight: 700;

}

.feature-description {
    width: 537px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#Quick-list{
    color: #727272;
    font-weight: 500;
}
.Features{
    color: #FF900E;
}


/* fact section design */

.section-heading{
    margin-left: 240px;
}
.section-description{
    margin-left: 240px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1340px;
    margin: 0 290px;
    margin-top: 100px;
    justify-content: space-around;
    column-gap: 125px;
    
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 241px;
    width: 241px;
    justify-content:center;
    align-items: center;
    text-align: center;
    
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;

}
.section-heading{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 130px;

}
.section-description{
    color: #727272;
    max-width: 542px;
    line-height: 26px;
    margin-top: 24px;
}

.sponsor-title{
    margin-top: 180px;
    text-align: center;
}
.sponsor-description{
    /* max-width: 542px; */
    padding-top: 24px;
    text-align: center;
    justify-items: center;
    
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 155px;
    max-width: 1440px;
    margin: 50px auto;
    filter: grayscale(100%);
}

.foot-container{
    background-color:rgba(255, 144, 14, 0.1);
    /* width: 75%; */
    max-width: 1440px;
    border-radius: 8px;;
    /* justify-items: center; */
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 216px;
    height: 100px;
}
.foot-box{
    max-width: 620px;
    margin: 0 auto;
}
.foot-description{
    font-size: 20px;
    color: #424242;
    /* padding: 40px 390px; */
    text-align: center;
    padding-top: 40px
}

/* Responsive Media Screen for mobile or small device section */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .brand{
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0 auto;
        margin-top: -20px;
    }
    .nav-links{
        flex-direction: row;
        /* max-width: 100%; */
        /* margin: 0 auto; */
        margin-top: 15px;
    }
     .banner-content{
        text-align: center;
     }
    .banner-title{
       
    font-size: 2.8rem;
    font-weight:600;
    margin-top: -40px;
    }
    .banner-description{
        max-width:300px;
        margin: 0 auto;

    }
    
    .team-image-container,
    .facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        max-width: 300px;
        text-align: center;
        margin-right: 10px;

    }
    .feature-title{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .feature-description{
        max-width: 300px;
    }
    .btn-primary{
        margin-top: 20px;
    }
    
    /* fact-section-response design */
    
    .section-heading{
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }
    .section-description{
        line-height: 26px;
        text-align: center;
        padding-top: 24px;
        margin: 0 30px;
        justify-items: center;
        margin-bottom: 24px;
    }
    .facts-container{
        justify-items: center;
        margin: 0 auto;
        gap: 25px;
        
    }

    .sponsor-title{
        margin-top: 100px;
    }
   .sponsor-description{
       padding-top: 24px;
    }

   .sponsor-companies{
       grid-template-columns: repeat(1, 1fr);
       row-gap: 50px;
       justify-items: center;
    }

}

.foot-container{
    width: 100%;
    max-width: 576px;
    /* justify-items: center; */
    /* margin: 0 auto; */
    margin-top: 90px;
    margin-bottom: 0;
    height: 250px;
    
    /* margin: 125px 30px; */
}
.foot-box{
    max-width: 380px;
    margin: 0 auto;
    /* padding-bottom: -70px; */
}
.foot-description{
    font-size: 20px;
    color: #424242;
    /* padding: 40px 390px; */
    text-align: center;
    padding-top: 99px;
    /* margin-bottom: -70px; */
}

    



/* Responsive Media Screen for tablet or medium device section */

@media screen and (min-width: 577px) and (max-width: 992px){
    .teams{
        flex-direction: column;
        gap: 20px;
    }
    .team-image-container img{
    max-width: 250px;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 auto;
    }
    .navbar{
        flex-direction: column;
    }
    .brand{
        /* width: 50%; */
        margin: 0 auto;
    }
    .nav-links{
        /* width: 50%; */
        margin: 0 auto;
        margin-top: 70px;
        /* margin-bottom: -50px; */
           
    }
    .nav-link{
    font-size: 1.5rem;
    }
    
}